@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .menu__wrap__nav {
        margin-left: 25px;
    }

    .reviews__wrap__contain__slide {
        width: 460px !important;
    }

    .reviews__wrap__contain__slide__item {
        width: 460px;
        height: 410px;
    }

    .vacancies__wrap__contain__slide__item__content__btns__whatsapp {
        width: 195px;
    }

    .vacancies__wrap__contain__slide__item__content__btns__phone {
        width: 195px;
    }

    .vacancies__wrap__contain__slide {
        width: 460px !important;
    }

    .vacancies__wrap__contain__slide__item {
        width: 460px;
        height: 566px;
    }

    .news__swiper__inner__slide {
        width: 460px !important;
    }

    .news__swiper__inner__slide__item {
        width: 460px;
    }

    .about {
        padding-top: 80px;
    }

    .about__wrap__head__title {
        width: 460px;
    }

    .about__wrap__head__description {
        width: 460px;
    }

    .about__wrap__main__photo {
        width: 460px;
    }

    .about__wrap__main__info {
        width: 460px;
    }

    .title-dark {
        font-size: 42px;
    }

    .title-white {
        font-size: 42px;
    }

    .numbers__wrap__left {
        width: 460px;
    }

    .numbers__wrap__right {
        width: 460px;
    }

    .numbers__wrap__left__content__item {
        width: 230px;
    }

    .numbers__wrap__left__content__item__descr {
        font-size: 13px;
    }

    .numbers {
        padding-top: 70px;
    }

    .numbers__wrap__left__content {
        margin-top: 10px;
    }

    .numbers__wrap__right__content {
        margin-top: 10px;
        height: 198px;
    }

    .auction__wrap__title {
        width: 100%;
    }

    .auction__wrap__content__item {
        width: 310px;
    }

    .auction__wrap__content__item__descr {
        font-size: 16px;
    }

    .order__descr {
        font-size: 16px;
    }

    .order__form__left {
        width: 460px;
    }

    .order__form__right {
        width: 460px;
    }

    .order__form__input {
        font-size: 16px;
    }

    .order__form__right__select {
        font-size: 16px;
    }

    .order__form__left__radio__whatsapp__label {
        font-size: 16px;
    }

    .order__form__left__radio__telegram__label {
        font-size: 16px;
    }

    .advantages {
        border-radius: 75px;
    }

    .advantages .advantages__wrap__item {
        margin: 0;
        width: 310px;
    }

    .club__wrap {
        padding: 40px 40px 55px 40px;
    }

    .club__wrap__images__card-1 {
        width: 250px;
        height: 250px;
    }

    .club__wrap__images__card-2 {
        width: 250px;
        height: 250px;
    }

    .club__wrap__images {
        right: 80px;
    }

    .cooperation__wrap {
        padding-left: 40px;
        padding-right: 40px;
    }

    .cooperation__wrap__info {
        width: 550px;
    }

    .faq__wrap__item {
        width: 100%;
    }

    .faq__wrap__item__control {
        width: 100%;
    }

    .swiper-wrapper {
        padding-left: calc((100% - 960px) / 2);
    }

    .vacancies__wrap {
        padding-left: calc((100% - 960px) / 2);
    }

    .reviews__wrap {
        padding-left: calc((100% - 960px) / 2);
    }

    .contacts__wrap__left__info {
        width: 460px;
    }
    
    .contacts__wrap__right iframe {
        width: 460px;
        height: 320px;
    }

    .footer__wrap__content__nav__title {
        font-size: 24px;
    }

    .footer__wrap__logo {
        width: 100px;
        height: 82px;
    }

    .intro__wrap__content__title-one {
        font-size: 120px;
    }

    .intro__wrap__content__descr {
        width: 500px;
    }

    .bargaining__wrap__left {
        width: 460px;
    }

    .bargaining__wrap__right {
        width: 460px;
    }

    .bargaining__wrap__left__title {
        font-size: 52px;
    }

    .planes__wrap__card-one {
        width: 310px;
    }

    .planes__wrap__card-second {
        width: 310px;
    }

    .planes__wrap__card-three {
        width: 310px;
    }

    .intro__wrap__content__title-second {
        font-size: 80px;
    }

    .intro__wrap__photo-second {
        width: 350px;
    }

    .vip__wrap__item {
        width: 310px;
    }

    .intro__wrap__content__title-three {
        font-size: 94px;
    }

    .repair__wrap__content__services {
        width: 460px;
    }

    .repair__wrap__content__image {
        width: 460px;
    }

    .menu__wrap__nav {
        column-gap: 80px;
    }

    .menu__wrap__photo {
        width: 350px;
    }

    .numbers__wrap__right__content__item__number {
        font-size: 56px;
    }

    .numbers__wrap__right__content__item {
        width: 184px;
    }
}