.club {
    position: relative;
    padding-top: 50px;
    &__wrap {
        position: relative;
        padding: 40px 80px 55px 80px;
        border-radius: 36px;
        background: linear-gradient(180deg, #131821 53.16%, #6E7284 100%);
        display: flex;
        justify-content: space-between;
        height: 450px;
        &__info {
            margin-top: 50px;
            width: 602px;
            &__subtitle {
                font-size: 24px;
                font-weight: 500;
                color: #fff;
                text-transform: uppercase;
                font-family: 'Stolz-Medium';
                margin-top: 20px;
            }
            &__descr {
                font-size: 18px;
                font-weight: 400;
                font-family: 'Stolz-Regular';
                color: $color-gray-1;
                margin-top: 15px;
                width: 560px;
                margin-bottom: 25px;
            }
            &__btn {
                width: max-content;
            }
        }
        &__images {
            position: relative;
            &__card-1 {
                width: 320px;
                height: 320px;
                object-fit: cover;
                opacity: 0;
            }
            &__card-2 {
                width: 320px;
                height: 320px;
                object-fit: cover;
                position: absolute;
                left: 30px;
                top: 70px;
                z-index: 2;
                opacity: 0;
            }
            &__crown {
                width: 200px;
                height: 200px;
                object-fit: cover;
                position: absolute;
                left: 130px;
                opacity: 0;
            }
        }
    }
}