.contacts {
    position: relative;
    padding-top: 75px;
    background-color: $color-dark;
    border-radius: 100px 100px 0 0;
    opacity: 0;
    &__wrap {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #727272;
        padding-bottom: 70px;
        &__left {
            &__title {
                opacity: 0;
            }
            &__info {
                margin-top: 35px;
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 530px;
                row-gap: 20px;
                &__item {
                    position: relative;
                    width: 225px;
                    opacity: 0;
                    &__title {
                        font-size: 18px;
                        font-weight: 400;
                        font-family: 'Stolz-Regular';
                        color: #fff;
                        margin-bottom: 10px;
                    }
                    &__link {
                        font-size: 16px;
                        font-weight: 500;
                        font-family: 'SF-Medium';
                        color: $color-gray-1;
                        transition: 0.3s linear;
                        &:hover {
                            color: #fff;
                        }
                    }
                    &__text {
                        font-size: 16px;
                        font-weight: 500;
                        font-family: 'SF-Medium';
                        color: $color-gray-1;
                    }
                }
            }
        }
    }
}